{:paths ["src"]
 :aliases
 {:demo {:extra-paths ["demo"]
         :jvm-opts ["-Dclojure.main.report=stdout"]
         :main-opts ["-m" "shadow.cljs.devtools.cli"]
         :extra-deps {io.github.nextjournal/clerk {:git/sha "1683b8255bb3d109e45e4189108269b8258504d3"}
                      io.github.nextjournal/clerk.render {:git/url "https://github.com/nextjournal/clerk"
                                                          ;; make sure this sha matches the one in `:deps` above.
                                                          :git/sha "1683b8255bb3d109e45e4189108269b8258504d3"
                                                          :deps/root "render"}

                      ;; use reagent fork with string "react" requires to fix scittle build
                      reagent/reagent {:git/url "https://github.com/nextjournal/reagent"
                                       :git/sha "ea7195d83e53c1a3df8775b0a289c8ff3947b355"}

                      io.github.babashka/scittle {:git/sha "1bbf579241ce37bebf191792a3f7f309308276a3"
                                                  :exclusions [cljs-ajax/cljs-ajax
                                                               cljsjs/react-dom-server
                                                               cljsjs/react-dom
                                                               cljsjs/react
                                                               re-frame/re-frame
                                                               thheller/shadow-cljs
                                                               org.babashka/sci
                                                               reagent/reagent]}}}
  :build
  {:extra-paths ["build"]
   :extra-deps {io.github.nextjournal/cas-client {:git/sha "813e9745ddeb4599ce62f3c02f329b72fe7c33ae"}
                babashka/process {:mvn/version "0.5.21"}}}}}
